EXPO_PUBLIC_SUPABASE_URL=https://tgdhbhufxijyrdolpaoo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRnZGhiaHVmeGlqeXJkb2xwYW9vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4NDIyNzEsImV4cCI6MjA5MTQxODI3MX0.wWtIV5bA4YNPcVglWFhUXp9PheGopyDH_U9dnKchLWY
EXPO_PUBLIC_OWNER_EMAIL=penielabebe93@gmail.com
